*{
	padding:0;
	margin:0;
}

html{
	background-color: #D7CEC7;
	color: #000;
	font-size: 16px;
}
.header{
	background-color: #C09F80;
	padding: 10px;
	color: #76323F;
	border-bottom: 1px solid #997f66;
	font-size: 32px;
}
.content{
	padding: 10px;
}

.top-content{
	width: 100%;
	padding-bottom: 20px;
}
.top-content select{
	width:100%;
	padding: 10px;
	border: 1px solid #997f66;
}

.bottom-content{
	width: 100%;
	float: left;
}
.bottom-left-content{
	width: 70%;
	float: left;
}
.bottom-right-content{
	width: 30%;
	float: left;
}
.bottom-right-content-left{
	width: 50%;
	float: left;
}
.bottom-right-content-right{
	width: 50%;
	float: left;
}
.panel{
	background-color: #FFF;
	margin: 10px;
	padding:10px;
	border: 1px solid #997f66;
}
h1{
	margin-bottom: 10px;
	font-size: 28px;
	padding-bottom: 3px;
	border-bottom: 1px solid #ccc;
}
h2{
	margin-bottom: 5px;
	font-size: 24px;
}
h3{
	margin-bottom: 3px;
	font-size: 20px;
}
.help-list{
	list-style: none;
}
table{
	width: 100%;
	margin-bottom: 10px;
}
td{
	padding: 10px;
	border: 1px solid #ccc;
}
/*

.banner{
	background-color: #C09F80;
	text-align: center;
	padding: 10px;
	color: #76323F;
	border-bottom: 1px solid #997f66;
}

.gamme-list{

	text-align: center;
}

h1, h2, h3{
	color: #76323F;
	margin-bottom: 10px;
}

.content{
	width: 70%;
	margin: auto;
}

select{
	padding: 5px 3px 10px;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #76323F;
	color:#76323F;
	margin: 10px auto 10px auto;
}

.accords{
	padding: 10px;
	margin-bottom: 20px;
}

.accord{
	background-color: #C09F80;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-right: 10px;
	padding: 5px 10px;
	color: #76323F;
	border: 1px solid #997f66;
}
.help{
	list-style: none;
}
.help li{
	padding: 5px;
	color: #76323F;
}*/
